* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.display0 {
  display: none; }

html {
  overflow-x: hidden;
  overflow-y: scroll; }

.slider_wrap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  .slider_wrap #slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: 0;
    position: fixed; }
    .slider_wrap #slider .slide {
      width: 100%;
      min-width: 70.5882352941vw;
      min-height: 47.0588235294vw;
      height: 99vh;
      position: absolute;
      opacity: 1;
      transition: opacity 2s;
      overflow: hidden;
      background-size: 100% 100% !important;
      background-repeat: no-repeat no-repeat !important; }
    .slider_wrap #slider .opacity0 {
      opacity: 0 !important; }
    .slider_wrap #slider .anim {
      animation: slider 11s linear; }
    .slider_wrap #slider .slide1 {
      background: url(../img/1.jpg); }
    .slider_wrap #slider .slide2 {
      background: url(../img/2.jpg); }
    .slider_wrap #slider .slide3 {
      background: url(../img/3.jpg); }
    .slider_wrap #slider .slide4 {
      background: url(../img/4.jpg); }
    .slider_wrap #slider .slide5 {
      background: url(../img/5.jpg); }
    .slider_wrap #slider .slide6 {
      background: url(../img/6.jpg); }
    .slider_wrap #slider .slide7 {
      background: url(../img/7.jpg); }
    .slider_wrap #slider .slide8 {
      background: url(../img/8.jpg); }
    .slider_wrap #slider .slide9 {
      background: url(../img/9.jpg); }

@keyframes slider {
  0% {
    transform-origin: center;
    transform: scale(1); }
  100% {
    transform: scale(1.3); } }
.menu_wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  .menu_wrap .logo {
    width: 1.4117647059vw;
    height: 2.2941176471vw;
    position: absolute;
    z-index: 3;
    left: 49.2%;
    top: 5%;
    cursor: pointer; }
  .menu_wrap .menu {
    display: flex;
    flex-flow: row nowrap;
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 100%; }
    .menu_wrap .menu .menu_column {
      z-index: 10 !important;
      width: 100%;
      height: 100vh;
      flex: 1;
      color: #fff;
      z-index: 1;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      text-align: center;
      justify-content: center;
      transition: background .5s; }
      .menu_wrap .menu .menu_column:hover {
        background: rgba(255, 255, 255, 0.1);
        transition: background .5s; }
      .menu_wrap .menu .menu_column:hover .icon_wrap {
        animation: icon .4s ease;
        bottom: 5%;
        visibility: inherit; }
      .menu_wrap .menu .menu_column h1 {
        font-family: Arial;
        font-size: 1.4117647059vw;
        letter-spacing: 0.1764705882vw; }
      .menu_wrap .menu .menu_column h2 {
        font-style: italic;
        font-size: 1.0588235294vw;
        opacity: .5; }
      .menu_wrap .menu .menu_column .icon_wrap {
        position: absolute;
        transition: bottom .5s, visibility .3s;
        bottom: -15%;
        visibility: hidden; }
        .menu_wrap .menu .menu_column .icon_wrap .icon {
          width: 3.5294117647vw;
          height: 3.5294117647vw;
          border-radius: 50%;
          background: black;
          line-height: 3.5294117647vw;
          text-align: center;
          font-size: 1.4705882353vw;
          margin: 0 auto; }
        .menu_wrap .menu .menu_column .icon_wrap h3 {
          font-family: Arial;
          font-size: 0.9411764706vw;
          color: #6c859e;
          line-height: 2.9411764706vw; }
        .menu_wrap .menu .menu_column .icon_wrap h4 {
          font-family: Arial;
          font-size: 0.8235294118vw;
          line-height: 0; }

.scroll {
  animation: scroll 1s ease;
  height: 0; }

.scroll2 {
  animation: scroll2 1s ease;
  height: 100vh; }

.opacity00 {
  animation: opa 1s ease; }

@keyframes icon {
  0% {
    bottom: -15%; }
  100% {
    bottom: 5%; } }
@keyframes scroll {
  0% {
    height: 100vh; }
  100% {
    height: 0; } }
@keyframes scroll2 {
  0% {
    height: 0; }
  100% {
    height: 100vh; } }
@keyframes opa {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.loader {
  width: 100%;
  height: 100vh;
  background: radial-gradient(ellipse at center, #595959 0%, #0f0804 100%);
  position: relative;
  z-index: 10000; }
  .loader .logo {
    width: 1.4117647059vw;
    height: 2.2941176471vw;
    position: absolute;
    top: 43%;
    left: 49.2%;
    animation: logo 1s ease; }
  .loader .line {
    height: 0.0588235294vw;
    background: #fff;
    position: absolute;
    top: 50%;
    animation: line 2.3s ease; }

@keyframes line {
  0% {
    width: 0%; }
  80% {
    width: 100%; }
  100% {
    width: 0%; } }
@keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.cont {
  padding-top: 0.0058823529vw;
  height: 58.8235294118vw;
  position: relative;
  width: 100%;
  z-index: 100 !important; }
  .cont .last {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important; }
  .cont .arrow {
    width: 5.8823529412vw;
    height: 5.8823529412vw;
    margin: 0 auto;
    cursor: pointer; }
    .cont .arrow:hover .left_arrow {
      left: 47.9vw; }
    .cont .arrow:hover .right_arrow {
      left: 50.6vw; }
    .cont .arrow .left_arrow, .cont .arrow .right_arrow {
      width: 0.1176470588vw;
      height: 4vw;
      background: #fff;
      display: inline-block;
      position: absolute;
      left: 49.8%;
      top: 3%;
      transition: all .3s; }
    .cont .arrow .left_arrow {
      transform: rotate(45deg); }
    .cont .arrow .right_arrow {
      transform: rotate(-45deg); }
  .cont .nameplate {
    font-size: 0.8235294118vw;
    margin: 12vh auto 0;
    text-align: center;
    background-color: rgba(108, 133, 158, 0.7);
    width: 4.7058823529vw;
    height: 1.4705882353vw;
    line-height: 1.4705882353vw;
    font-family: Arial;
    color: #fff;
    border-radius: 0.2941176471vw;
    letter-spacing: 0.0588235294vw; }
  .cont h1 {
    text-align: center;
    font-family: Arial;
    letter-spacing: 0.1176470588vw;
    margin-top: 1.1764705882vw;
    color: #fff;
    font-size: 2.3529411765vw; }
  .cont .icon {
    width: 3.5294117647vw;
    height: 3.5294117647vw;
    border-radius: 50%;
    background: black;
    line-height: 3.5294117647vw;
    text-align: center;
    font-size: 1.4705882353vw;
    margin: 11vh auto 0;
    color: #fff;
    z-index: 100;
    position: relative; }
  .cont .cont_text {
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 1.7647058824vw;
    margin-top: -1.7647058824vw;
    z-index: 1;
    position: relative;
    height: auto;
    min-height: 63vh; }
    .cont .cont_text h2 {
      text-align: center;
      font-family: Arial;
      margin-top: 3.5294117647vw;
      font-size: 1.4117647059vw; }
    .cont .cont_text h3 {
      text-align: center;
      font-family: Arial;
      color: #6c859e;
      margin-top: 0.2941176471vw;
      font-size: 1.2352941176vw; }
    .cont .cont_text p {
      font-size: 1vw;
      font-family: Arial;
      padding: 1.1764705882vw 27vw 0; }
  .cont .logotape {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 1.7647058824vw;
    z-index: 1000000; }
  .cont .icon_mini {
    text-align: center;
    font-size: 1.4705882353vw;
    cursor: pointer;
    margin-top: 1.1764705882vw; }
    .cont .icon_mini i {
      margin-right: 0.5882352941vw;
      margin-left: 0.5882352941vw;
      margin-top: 1.1764705882vw; }
  .cont .logo_b {
    text-align: center;
    margin-top: 1.1764705882vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.7647058824vw;
    cursor: pointer; }
    .cont .logo_b img {
      width: 1.4117647059vw;
      height: 2.2941176471vw; }

.cont.one {
  height: auto; }
  .cont.one .cont_text {
    height: auto; }

.address {
  white-space: nowrap;
  padding-top: 1.1764705882vw;
  width: 15.2941176471vw;
  margin: 1.1764705882vw auto 0;
  font-family: Arial;
  color: #6c859e;
  cursor: pointer; }
  .address span {
    transition: color .2s;
    font-size: 0.9705882353vw; }
    .address span:hover {
      color: black; }
  .address i {
    font-size: 1.4705882353vw;
    margin-right: 0.5882352941vw;
    color: black; }
  .address .address_icon {
    padding-bottom: 1.1764705882vw; }
    .address .address_icon .address_icon_wrap {
      height: 1.7647058824vw;
      width: 1.7647058824vw;
      text-align: center;
      display: inline-block; }

.two .nameplate {
  width: 12.9411764706vw; }
.two .cocta {
  text-align: center;
  padding: 1.1764705882vw 26.7vw 0; }
  .two .cocta li {
    list-style-type: none;
    margin-bottom: 1.1764705882vw;
    margin-left: 0;
    margin-right: 0; }
  .two .cocta img {
    width: 45vw;
    border-radius: 0.2941176471vw;
    cursor: pointer; }
.two ul {
  display: inline-block; }
  .two ul li {
    list-style-type: none;
    margin-bottom: 1.1764705882vw;
    margin-left: 0.5882352941vw;
    margin-right: 0.5882352941vw; }
.two .time {
  margin: 2.3529411765vw auto 0;
  width: 15.1764705882vw;
  font-size: 1.1764705882vw;
  font-family: Arial; }
.two .day {
  color: #6c859e;
  font-family: Times New Roman; }
  .two .day li {
    margin-bottom: 1.2352941176vw; }
.two .clock {
  font-weight: bold; }

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  cursor: pointer; }

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center; }

#lightbox img {
  max-width: 90%;
  max-height: 100%;
  padding: 0.2352941176vw;
  background-color: black;
  border: 0.1176470588vw solid white; }

.cont.four {
  height: 0; }
  .cont.four p {
    margin-left: 1.1764705882vw; }
  .cont.four .left_arrow, .cont.four .right_arrow {
    margin-top: 1.7647058824vw; }
  .cont.four .nameplate.mus {
    width: 5.8823529412vw; }
  .cont.four .cont_text iframe {
    padding: 1.1764705882vw 27vw 0; }

.three .eve {
  width: 10.5882352941vw !important; }
.three iframe {
  display: block;
  width: 45vw;
  height: 25vw;
  padding-top: 1.1764705882vw;
  margin: 0 auto; }

@media screen and (max-width: 1024px) {
  .menu {
    flex-flow: column nowrap !important;
    height: 100vh !important;
    width: 100% !important; }
    .menu h1 {
      font-size: 4.3529411765vw !important;
      letter-spacing: 0.3529411765vw !important; }
    .menu h2 {
      font-size: 4vw !important; }

  .logo1 {
    display: none !important; }

  .loader {
    display: none; }

  .icon_wrap {
    display: none !important; }

  .menu_column:hover {
    background: none !important;
    transition: none !important; }

  .cont .left_arrow,
  .cont .right_arrow {
    width: 11.7647058824vw !important;
    height: 0.4117647059vw !important;
    margin-left: -5.8823529412vw !important;
    margin-top: 5.8823529412vw !important; }
  .cont .arrow {
    width: auto !important;
    height: 17.6470588235vw !important;
    padding-top: 5.8823529412vw !important; }
    .cont .arrow:hover .left_arrow {
      left: 50vw; }
    .cont .arrow:hover .right_arrow {
      left: 50vw; }
  .cont .nameplate {
    font-size: 3.7647058824vw !important;
    width: 17.6470588235vw !important;
    height: 4.7058823529vw !important;
    border-radius: 0.5882352941vw !important;
    line-height: 4.7058823529vw !important;
    margin-top: 9.4117647059vh !important; }
  .cont h1 {
    font-size: 5.2941176471vw !important;
    letter-spacing: 0.4705882353vw !important;
    margin-top: 2.3529411765vw !important; }
  .cont .icon {
    width: 7.0588235294vw !important;
    height: 7.0588235294vw !important;
    line-height: 7.0588235294vw !important;
    font-size: 3.5294117647vw !important; }
  .cont .shadow {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(255, 255, 255, 0.8);
    margin-top: 103.5294117647vw; }
  .cont .cont_text {
    margin-top: -3.5294117647vw !important; }
    .cont .cont_text h2 {
      margin-top: 4.7058823529vw !important;
      font-size: 4.3529411765vw !important;
      margin-top: 6.4705882353vw !important; }
    .cont .cont_text h3 {
      margin-top: 0.2941176471vw !important;
      font-size: 4.1764705882vw !important;
      margin-top: 1.4705882353vw !important; }
    .cont .cont_text p {
      font-size: 3.9411764706vw !important;
      padding: 4.1176470588vw 7vw 0 !important; }
    .cont .cont_text .logotape {
      margin-top: 4.7058823529vw; }
    .cont .cont_text .icon_mini {
      font-size: 4.4117647059vw !important;
      margin-top: 2.3529411765vw !important; }
      .cont .cont_text .icon_mini i {
        margin-right: 2.3529411765vw !important;
        margin-left: 2.3529411765vw !important;
        margin-top: 2.9411764706vw !important; }
    .cont .cont_text .logo_b {
      padding-bottom: 4.7058823529vw !important;
      margin-top: 4.1176470588vw !important; }
      .cont .cont_text .logo_b img {
        width: 4.3529411765vw !important;
        height: 5.2352941176vw !important; }

  .one .address {
    width: 64.1176470588vw !important;
    margin: 4.1176470588vw auto 0 !important; }
    .one .address .address_icon {
      padding-bottom: 4.1176470588vw; }
    .one .address span {
      font-size: 3.9117647059vw !important;
      margin-left: 2vw !important; }
    .one .address i {
      font-size: 4.4117647059vw !important; }
    .one .address .address_icon_wrap {
      height: 4.7058823529vw !important;
      width: 4.7058823529vw !important; }

  .two .left_arrow,
  .two .right_arrow {
    margin-top: 10.5882352941vw !important; }
  .two .nameplate {
    margin-top: 5.2941176471vh !important; }
  .two .arrow {
    margin-top: 10.5882352941vw !important; }
  .two .nameplate {
    width: 47.6470588235vw !important; }
  .two .cocta {
    padding: 4.1176470588vw 15vw 0 !important; }
    .two .cocta li {
      margin-bottom: 4.1176470588vw !important; }
      .two .cocta li img {
        width: 70vw !important;
        border-radius: 0.5882352941vw !important; }
  .two .time {
    margin: 5.2941176471vw auto 0 !important;
    width: 47.5294117647vw !important;
    font-size: 4.1176470588vw !important; }

  .three .left_arrow,
  .three .right_arrow {
    margin-top: 10.5882352941vw !important; }
  .three .nameplate {
    margin-top: 5.2941176471vh !important; }
  .three .arrow {
    margin-top: 10.5882352941vw !important; }
  .three .nameplate {
    width: 39.4117647059vw !important; }
  .three iframe {
    width: 70vw;
    height: 45vw;
    padding-top: 4.1176470588vw; }

  .four .left_arrow,
  .four .right_arrow {
    margin-top: 11.7647058824vw !important; }
  .four .nameplate {
    margin-top: 5.2941176471vh !important; }
  .four .arrow {
    margin-top: 11.7647058824vw !important; }
  .four .nameplate {
    width: 20.5882352941vw !important; }
  .four iframe {
    width: 100vw !important;
    height: 35vw !important;
    padding: 4.1176470588vw 7vw 0 !important; }
  .four p {
    margin-left: 0 !important; } }

/*# sourceMappingURL=style.css.map */
