* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.display0 {
  display: none; }

html {
  overflow-x: hidden; }

.slider_wrap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  .slider_wrap .shadow {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    z-index: 1000;
    opacity: .2; }
  .slider_wrap #slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: 0;
    position: fixed; }
    .slider_wrap #slider img {
      width: 100%;
      height: 100vh;
      position: absolute;
      opacity: 1;
      transition: opacity 2s;
      overflow: hidden; }
    .slider_wrap #slider .opacity0 {
      opacity: 0; }
    .slider_wrap #slider .anim {
      animation: slider 11s linear; }

@keyframes slider {
  0% {
    transform-origin: center;
    transform: scale(1); }
  100% {
    transform: scale(1.3); } }
.menu_wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  .menu_wrap .logo {
    position: absolute;
    z-index: 3;
    left: 49.2%;
    top: 5%;
    cursor: pointer; }
  .menu_wrap .menu {
    display: flex;
    flex-flow: row nowrap;
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 100%; }
    .menu_wrap .menu .menu_column {
      width: 100%;
      height: 100vh;
      flex: 1;
      color: #fff;
      z-index: 1;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      text-align: center;
      justify-content: center;
      transition: background .5s; }
      .menu_wrap .menu .menu_column:hover {
        background: rgba(255, 255, 255, 0.1);
        transition: background .5s; }
      .menu_wrap .menu .menu_column:hover .icon_wrap {
        animation: icon .4s ease;
        bottom: 5%;
        visibility: inherit; }
      .menu_wrap .menu .menu_column h1 {
        font-family: Arial;
        font-size: 24px;
        letter-spacing: 3px; }
      .menu_wrap .menu .menu_column h2 {
        font-style: italic;
        font-size: 18px;
        opacity: .5; }
      .menu_wrap .menu .menu_column .icon_wrap {
        position: absolute;
        transition: bottom .5s, visibility .3s;
        bottom: -15%;
        visibility: hidden; }
        .menu_wrap .menu .menu_column .icon_wrap .icon {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background: black;
          line-height: 60px;
          text-align: center;
          font-size: 25px;
          margin: 0 auto; }
        .menu_wrap .menu .menu_column .icon_wrap h3 {
          font-family: Arial;
          font-size: 16px;
          color: #6c859e;
          line-height: 50px; }
        .menu_wrap .menu .menu_column .icon_wrap h4 {
          font-family: Arial;
          font-size: 14px;
          line-height: 0; }

@keyframes icon {
  0% {
    bottom: -15%; }
  100% {
    bottom: 5%; } }
.loader {
  width: 100%;
  height: 100vh;
  background: radial-gradient(ellipse at center, #595959 0%, #0f0804 100%);
  position: relative;
  z-index: 10000; }
  .loader .logo {
    position: absolute;
    top: 43%;
    left: 49.2%;
    animation: logo 1s ease; }
  .loader .line {
    height: 1px;
    background: #fff;
    position: absolute;
    top: 50%;
    animation: line 2.5s ease; }

@keyframes line {
  0% {
    width: 0%; }
  80% {
    width: 100%; }
  100% {
    width: 0%; } }
@keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.cont {
  padding-top: 0.1px;
  height: 1000px;
  position: relative;
  width: 100%; }
  .cont .arrow {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    cursor: pointer; }
    .cont .arrow:hover .left_arrow {
      left: 48vw; }
    .cont .arrow:hover .right_arrow {
      left: 50.6vw; }
    .cont .arrow .left_arrow, .cont .arrow .right_arrow {
      width: 2px;
      height: 4vw;
      background: #fff;
      display: inline-block;
      position: absolute;
      left: 49.8%;
      top: 3%;
      transition: all .3s; }
    .cont .arrow .left_arrow {
      transform: rotate(45deg); }
    .cont .arrow .right_arrow {
      transform: rotate(-45deg); }
  .cont .nameplate {
    margin: 12vh auto 0;
    text-align: center;
    background-color: rgba(108, 133, 158, 0.7);
    width: 80px;
    height: 25px;
    line-height: 25px;
    font-family: Arial;
    color: #fff;
    border-radius: 5px;
    letter-spacing: 1px; }
  .cont h1 {
    text-align: center;
    font-family: Arial;
    letter-spacing: 2px;
    margin-top: 20px;
    color: #fff;
    font-size: 40px; }
  .cont .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: black;
    line-height: 60px;
    text-align: center;
    font-size: 25px;
    margin: 11vh auto 0;
    color: #fff;
    z-index: 10;
    position: relative; }
  .cont .cont_text {
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 30px;
    margin-top: -30px;
    z-index: 1; }
    .cont .cont_text h2 {
      text-align: center;
      font-family: Arial;
      margin-top: 60px; }
    .cont .cont_text h3 {
      text-align: center;
      font-family: Arial;
      color: #6c859e;
      margin-top: 5px; }
    .cont .cont_text p {
      font-family: Arial;
      padding: 20px 27vw 0; }
  .cont .icon_mini {
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    margin-top: 20px; }
    .cont .icon_mini i {
      margin-right: 10px;
      margin-left: 10px;
      margin-top: 20px; }
  .cont .logo_b {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
    cursor: pointer; }

.address {
  padding-top: 20px;
  width: 260px;
  margin: 20px auto 0;
  font-family: Arial;
  color: #6c859e;
  cursor: pointer; }
  .address span {
    transition: color .2s; }
    .address span:hover {
      color: black; }
  .address i {
    font-size: 25px;
    margin-right: 10px;
    color: black; }
  .address .address_icon {
    padding-bottom: 20px; }
    .address .address_icon .address_icon_wrap {
      height: 30px;
      width: 30px;
      text-align: center;
      display: inline-block; }

.two .nameplate {
  width: 220px; }
.two .cocta {
  text-align: center;
  padding: 20px 27vw 0; }
  .two .cocta li {
    list-style-type: none;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0; }
  .two .cocta img {
    width: 45vw;
    border-radius: 5px;
    cursor: pointer; }
.two ul {
  display: inline-block; }
  .two ul li {
    list-style-type: none;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px; }
.two .time {
  margin: 40px auto 0;
  width: 258px;
  font-size: 20px;
  font-family: Arial; }
.two .day {
  color: #6c859e;
  font-family: Times New Roman; }
  .two .day li {
    margin-bottom: 21px; }
.two .clock {
  font-weight: bold; }

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  cursor: pointer; }

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center; }

#lightbox img {
  max-width: 90%;
  max-height: 100%;
  padding: 4px;
  background-color: black;
  border: 2px solid white; }

/*# sourceMappingURL=style.css.map */
