@media (max-width: 800px){
	.menu_wrap{
		.menu{
			flex-flow: column nowrap;
			height: 100vh;
		}
		.logo{
			display: none;
		}
		.icon_wrap{
			display: none;
		}
	}
	.cont{
		.arrow{
			.left_arrow, .right_arrow{
				height: 8vw;
			}
		}
		.cont_text{
			p{
				padding: 20px 5vw 0;
			}
			iframe{
				padding: 20px 5vw 0!important;
			}
		}
	}
	.two{
		.cocta{
			padding: 20px 5vw 0;
			img{
				width: 100%;
			}
		}
	}
	.loader{
		.logo{
			top: 38%;
		}
	}
	.slider_wrap{
		#slider{
			img{
				min-width: 1200px;
			}
		}
	}
}
@media (max-width: 450px){
	.cont.one{
		.cont_text{
			height: 900px!important;
		}
	}
}

@media (min-height: 940px){
	.cont.one{
		.cont_text{
			height: 69vh;
		}
	}
}
@media (min-height: 940px){
	.cont.four{
		.cont_text{
			height: 69vh!important;
		}
	}
}
@media (max-width: 320px){
		.slider_wrap{
		#slider{
			img{
				margin-left: -140vw;
			}
		}
	}
}
@media (min-width:321px) and (max-width: 420px){
		.slider_wrap{
		#slider{
			img{
				margin-left: -95vw;
			}
		}
	}
}
@media (min-width:421px) and (max-width: 520px){
		.slider_wrap{
		#slider{
			img{
				margin-left: -67vw;
			}
		}
	}
}
@media (min-width:521px) and (max-width: 620px){
		.slider_wrap{
		#slider{
			img{
				margin-left: -48vw;
			}
		}
	}
}
@media (min-width:621px) and (max-width: 720px){
		.slider_wrap{
		#slider{
			img{
				margin-left: -34vw;
			}
		}
	}
}
@media (min-width:721px) and (max-width: 820px){
		.slider_wrap{
		#slider{
			img{
				margin-left: -23vw;
			}
		}
	}
}
@media (min-width:821px) and (max-width: 920px){
		.slider_wrap{
		#slider{
			img{
				margin-left: -15vw;
			}
		}
	}
}
@media (min-width:921px) and (max-width: 1020px){
		.slider_wrap{
		#slider{
			img{
				margin-left: -9vw;
			}
		}
	}
}
@media (min-width:1021px) and (max-width: 1120px){
		.slider_wrap{
		#slider{
			img{
				margin-left: -3vw;
			}
		}
	}
}