.cont.one{
	height: 0;
	.cont_text{
		min-height: 800px;
	}
	.left_arrow, .right_arrow{
		margin-top: 20px;
	}
}	
		.address{
	    padding-top: 20px;
		width: 260px;
		margin: 20px auto 0;
		font-family: Arial;
		color: #6c859e;
		cursor: pointer;
		span{
			transition: color .2s;
			&:hover{
				color: black;
			}
		}
		i{
			font-size: 25px;
			margin-right: 10px;
			color: black;
		}
		.address_icon{
			padding-bottom: 20px;
			.address_icon_wrap{
				height: 30px;
				width: 30px;
				text-align: center;
				display: inline-block;
			}
		}
	}
