.two {
	
	.nameplate{
	width: 220px;
	}
	.cocta{
		text-align: center;
		padding: 20px 27vw 0;
		li{
			list-style-type: none;
			margin-bottom: 20px;
			margin-left: 0;
			margin-right: 0;
		}
		img{
			width: 45vw;
			border-radius: 5px;
			cursor: pointer;
		}
	}
	ul{
		display: inline-block;
		li{
			list-style-type: none;
			margin-bottom: 20px;
			margin-left: 10px;
			margin-right: 10px;
		}
	}
	.time{
		margin: 40px auto 0;
		width: 258px;
		font-size: 20px;
		font-family: Arial;
	}
	.day{
		color: #6c859e;
		font-family: Times New Roman;
		li{
		margin-bottom: width(21px);
		}
	}
	.clock{
		font-weight: bold;
	}
}
