.two {
	
	.nameplate{
	width: width(220px);
	}
	p{
		
	}
	.cocta{
		text-align: center;
		padding: width(20px) 26.7vw 0;
		li{
			list-style-type: none;
			margin-bottom: width(20px);
			margin-left: 0;
			margin-right: 0;
		}
		img{
			width: 45vw;
			border-radius: width(5px);
			cursor: pointer;
		}
	}
	ul{
		display: inline-block;
		li{
			list-style-type: none;
			margin-bottom: width(20px);
			margin-left: width(10px);
			margin-right: width(10px);
		}
	}
	.time{
		margin: width(40px) auto 0;
		width: width(258px);
		font-size: width(20px);
		font-family: Arial;
	}
	.day{
		color: #6c859e;
		font-family: Times New Roman;
		li{
		margin-bottom: width(21px);
		}
	}
	.clock{
		font-weight: bold;
	}
}
